{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>So2al</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'so2al/styles.css' %}">
        <script>
                <script src="{% static 'so2al/so2al.js' %}"></script>
        </script>
    </head>
    <body>
        <div class="container">
           <h2 style="margin:1%;"><span class="title-span">So2al App</span></h2>
            <button class="btn btn-sm btn-outline-primary" id="submitter">Submitter Data</button>
            <button class="btn btn-sm btn-outline-primary" id="question">Question</button>
            <button class="btn btn-sm btn-outline-primary" id="question-stats">Stats</button>
            <hr>

            <div id="submit-view">
            </div>

             <div id="question-view">
             </div>

            <div id="stats-view">
            </div>



        </div>
    </body>
</html>